body{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: blue;
}

 .weather-app-city {
    margin-left: 10px;
    font-size: 38px;
    line-height:80px;
}

.weather-app-data {
    display: flex;
   justify-content: space-between;
   
}


.weather-app-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;
}

.weather-app-details strong {
    color: #f65282;
}

.weather-app-icon {
    width: 88px;
    height: 88px;
    margin-top: 22px;
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
    margin-left: 10px;
}

.weather-app-unit {
    margin-top: 6px;
    font-size: 28px;
}


.weather-forecast {
    margin-top: 50px;
    text-align: center;
    color: black;
}



.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 15px auto;
    margin-left: 5px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
    padding: 30px;
}

.main {
    padding: 30px 0;
}

 

.header{
 border-bottom: 1px solid #f9f7fe;
 padding:0 0 30px 0;
}


.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button {
    background-color: red ;
    padding: 15px 20px;
    border: none;
   margin-left:5px ;
    border-radius: 6px;
    color: white;
}


.weather-forecast-date {
    font-size: 16px;
    opacity: 0.6;
}

.weather-forecast-temperatures-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 13px;

}
.weather-forecast-day {
  display: inline-block;
}

footer {
 border-top: 1px solid #f9f7fe;
 padding: 30px 0 0  0;
 text-align: center;
 font-size: 20px;
}
 


